.about_sec {
  padding: 0px 200px 0px 230px;
}

.about_title {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

.about_span {
  font-family: cursive;
  font-size: 40px;
  font-style: italic;
}

.about_paragraph {
  line-height: 22px;
  color: #6f6b6b;
}
